<div class="row">
    <h1>PROYECTOS RESLIZADOS</h1>
    <div class="contenedor">
        <div class="col-sm-6 col-md-6 col-lg-12 offset-md-1 offset-lg-1 parte1">
            <h2>Personal project</h2>
            <p>These are  projects from my previous job using Python(Tkinter,serial Port, etc).These are Scripts to atomation of repetitive task that I had to do every day</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-12 offset-md-1 offset-lg-1 parte2">

          <img src="../../../assets/mirgor1.JPG" id="mir1" class="img-fluid img-proyecto">
          
          <img src="../../../assets/mirgor2.JPG" id="mir2 "class="img-fluid img-proyecto">
        </div>           