.row{
    padding: 60px;
}

div{

    background-color:#98acc2;
    text-align: center;
}

/*Estilo de la foto*/
@media(min-width:576px){
   #myphoto 
   {
     position:absolute;
     width: 10%;
     box-shadow: 3px 3px 3px grey;
     left:5%;
     top: 930px;
   }

}

@media(max-width:575px){ /*575*/
    #myphoto 
    {
      position:absolute;
      width: 15%;
      box-shadow: 3px 3px 3px grey;
      left: 15%;
      top: 1320px;
      padding-right:3000;
    }
 
 }


/*etiqueta nombre */

#nombre{
    font-weight:bold;
    margin-top: 10%;
    margin-left: 2px;
    
}

