<div class="row">
    <div class=" col-xs-12 col-sm-2 col-md-2 col-lg-2" >
         <img src="../../../assets/myphoto.jpg" id="myphoto" class="img-fluid" >
    </div>
    <div class="col-xs-12 col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <p id="nombre">Rosa Mamani Joaquín</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me</h1>
            <p> I am Rosa Mamani Joaquín ,I started to dedicate myself to web design and develop</p>
        </span>
    <div>    
</div>        