<div class="container-fluid cew-9">
    <div class="row">
        <h1 id="workexp">EDUCATION</h1>
     <div class="col">
        <ul>
            <li>  
                <h2>UTN-FRBA</h2><h3>System Engineering</h3>
                <p>Present 3rd level</p>
            </li>
            <li>  
                <h2>Technical School 13, Ing. Jose Luis Delpini</h2><h3>Electronic Technician</h3>
                <p>General Average :9</p>
            </li>
          
            <li>  
                <h2>Argentina Programa</h2><h3>FullStack</h3>
                <p>Java Script language</p>
                <p></p>
                <p>Concepts of POO</p>
                <p>Data base SQL</p>
            </li>
            <li>  
                <h2>Codo a Codo</h2><h3>Developer</h3>
                <p>Java language concept</p>
                <p>Concepts of POO</p>
                <p>Data base SQL</p>
            </li>
            <li>  
                <h2>Cle Cil</h2><h3>English</h3>
                <p>Proficient -<strong>Level B2</strong></p>
                
            </li>
        </ul> 
     </div>
    </div>
</div>