
<div class="container-fluid cew-9">
    <div class="row">
        <h1 id="workexp">WORK EXPERIENCE</h1>

     <div class="col">
        <img src="../../../assets/mirgor.JPG" id="mirgor">
     </div>
     <div class="col-8">
        <ul>
            <li>  
                <h2>QA Analyst</h2><h3>2 years</h3>
                <p>-Experience with agile methodology such as Scrum.</p>
                <p>-Analyzing issues to identify patterns in bugs then reporting and follow-up.</p>
                <p>-Experience with report management tolls  as JIRA and Confluence</p>
                <p>-Executing Functional and No Functional test in product</p>
                <p>-Processing automation in Python.</p>     
                <p>-Validating  features in Apps using ADB and fastboot tool</p>  
            </li>
        </ul> 
     </div>
    </div>

    <div class="row">
     <div class="col" >
        <img src="../../../assets/Freelancer.JPG" id="freelancer">
     </div>
     <div class="col-8">
        <ul>
            <li>  
                <h2>Freelancer-QA</h2><h3>1 year</h3>
                <p>-Experience with agile methodology such as Scrum.</p>
                <p>-Analyzing issues to identify patterns in bugs then reporting and follow-up.</p>
                <p>-Executing Functional and No Functional test in product</p>
                <p>-Processing automation in Selenium Webdriver with C#.</p>     
                <p>-Executing maintenance test</p>  
            </li>
        </ul> 
     </div>
    </div>



</div>
