
<div class="row">
    <h1>HARD & SOFT SKILLS</h1>
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'/assets/html.JPG'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'/assets/CSS.JPG'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'/assets/js.JPG'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'/assets/Angular.JPG'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [imageSrc]="'/assets/SQL.JPG'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'/assets/Csharp.JPG'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
   
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'/assets/py.JPG'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'/assets/git.JPG'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'/assets/java.JPG'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class=" text-center col-sm-4">
        <circle-progress
        [percent]="97"
        [radius]="100"
        [imageSrc]="'/assets/Listening.JPG'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class=" text-center col-sm-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'/assets/feeback.JPG'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [imageSrc]="'/assets/team.JPG'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
    </div>  
    
</div>
